@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --color-pry-soft: hsl(215, 51%, 70%);
    --color-pry-cyan: hsl(178, 100%, 50%);

    --color-nt-dark-bkg: hsl(217, 54%, 11%);
    --color-nt-dark-bkgCard: hsl(216, 50%, 16%);
    --color-nt-dark-line: hsl(215, 32%, 27%);
    --color-nt-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: var(--color-pry-soft);

    background-color: var(--color-nt-dark-bkg);
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    background-color: var(--color-nt-dark-bkgCard);
    box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border: none;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.card .card-img {
    position: relative;
    cursor: pointer;
}

.main-img {
    border-radius: 0.8rem;
}

.overlay {
    background-color: var(--color-pry-cyan);
    opacity: 40%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 2px;
    border-radius: 0.8rem;
    display: none;
    transition: 0.2s;
}

.view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card-img:hover .overlay, 
.card-img:hover .view {
    display: block;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main .title {
    font-size: 1.5rem;
    color: var(--color-nt-white);
    cursor: pointer;
}

.main .title:hover {
    color: var(--color-pry-cyan);
}

.main .description {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 30px;
}

.price-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-date p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-date .price {
    color: var(--color-pry-cyan);
}

.card .divider {
    width: 100%;
    height: 2px;
    background-color: var(--color-nt-dark-line);
}

.card .credits {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card .credits img {
    width: 40px;
    border: 1px solid var(--color-nt-white);
    border-radius: 50%;
}

.card .credits p {
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.card .credits b {
    color: var(--color-nt-white);
    cursor: pointer;
}

.card .credits b:hover {
    color: var(--color-pry-cyan);
}

/* FOOTER */
.attribution {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--color-nt-grayish);
}

.attribution a:hover {
    text-decoration: underline;
    /* color: hsl(228, 45%, 44%); */
    color: var(--color-pry-cyan);
}